@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oxygen:wght@300;400;700&family=Ropa+Sans:ital@0;1&display=swap');
body{
    font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
    padding: 0;
    margin: 0;
}
body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: transparent;
  }
.mainImg{
    display: flex;
    background: linear-gradient(45deg, rgba(1,6,17,1) 15%, rgba(53,0,255,0.1390931372549019) 100%), url(index_resources/Sin\ título-1.png);  
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    padding: 0%;
    align-items: center;

}
.contentImg{
  margin: 10%;
}
h1{
  font-size: 58px;
  color: #fff;
  font-weight: 800;
  letter-spacing: 1px;
  margin-top: 1px;
}
.botonPremium{
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 28px;
  padding: 3.5% 20%;
  border-radius: 15px;
  background: rgb(251,62,232);
background: linear-gradient(45deg, rgba(251,62,232,1) 0%, rgba(141,20,236,1) 100%);
}
.plans{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 200vh;
    background-color: #020517;
    margin-top: 0;
    padding: 5%;
}
footer{
  height: 21.05vh;
  background-color: #21242e;
}