@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oxygen:wght@300;400;700&family=Ropa+Sans:ital@0;1&display=swap');
:root{
    --main-color:#9015EC ;
    --second-color:#f23be8;
    --text-color:#fff;
    --second-text-color:none;
    --other-color1:#010614;
    --other-color2:#edd854;
    --other-color3:#c6f9fd;
    --nav-color:#aeaeae;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--other-color1);
    font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
    padding: 0;
    margin: 0;
}
body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: transparent;
  }
/*header*/
.header{
    background-color: var(--nav-color);
    width: 0;
    height: 100vh;
    pointer-events: none;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: row nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 500ms ease-in-out;
}
.visible{
    width: 350px;
    pointer-events: auto;
}

/*nav*/
.nav{
    opacity: 0;
    width: 0;
    transition: 500ms ease-in-out;
    overflow: hidden;
}
.header .ul{
    list-style: none;
}
.header .button{
    border: 0;
    background-color: transparent;
    display: none;

}
.header .svg{

}
.header li{
    margin:2cap 0;
    box-sizing: content-box;
    
}
.header .a{
    text-decoration: none;
    color: var(--other-color1);
    font-weight: 500;
    font-size: 2em;
}
/*animacion hover*/
.a::after{
    content: "";
    height: 4px;
    border-radius:1cap ;
    width: 0;
    background-color: var(--main-color);
    display: block;
    transition: all 300ms ;
}
.a:hover::after{
    width: 100%;
}
.trigger{
    background-color: transparent;
    position: fixed;
    z-index: 20;
    width: 40px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1cap;

    box-sizing: content-box;
}

.visible2{
    width: 260px;
    padding: 2cap;
    margin: 0 5px;
    opacity: 1;
    transition: 500ms ease-in-out;
}
/*flecha*/
.flecha{
width: 100%;

transition: all 250ms ease-in;
}
.flechaanimation{
    animation: movement 1100ms infinite alternate ease-in-out ;
}
.flechasvg{
    width: 100%;
    height: 100%;
    
}
.flechaD{
    animation: movement2 250ms forwards  ease-in-out ;
    transition: 250ms ease-in-out;
}
.efectoShadow{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: -1;
    transition: all 200ms ease-out;
}
.efectoShadow2{
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .3;
}
@keyframes movement{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(15px);
    }
}
@keyframes movement2{
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(-100px);
        opacity: 0;
    }
}
/*carrousel*/
.slider-box{
    
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}
.slider-box ul{
    list-style: none;
    
    display: flex;
    justify-content: none;
    padding: 0;
    margin: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out ;
}
.slider-box li{
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    
}
.texto{
    position: absolute;
    text-align: left;
    padding: 80px 0 0 250px;
    top: 250px;
    color: var(--text-color);

}
.texto h2{
    font-size: 45px;
    margin-bottom: 35px;
}
.slider-box img{
    position: absolute;
    top:0px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}
@keyframes slide{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}

}


