@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oxygen:wght@300;400;700&family=Ropa+Sans:ital@0;1&display=swap');
:root{
    --main-color:#9015EC ;
    --second-color:#f23be8;
    --text-color:#e4e4e4;
    --second-text-color:none;
    --other-color1:#010614;
    --other-color2:#edd854;
    --other-color3:#c6f9fd;
    --nav-color:#aeaeae;
    --rojo: #E50914;
	--fondo: #141414;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--other-color1);
    font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: transparent;
  }
/*header*/
.header{
    background-color: var(--fondo);
    width: 0;
    height: 100vh;
    pointer-events: none;
    position: fixed;
    z-index: 500;
    display: flex;
    flex-direction: row nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 500ms ease-in-out;
}
.visible{
    width: 350px;
    pointer-events: auto;
}

/*nav*/
.nav{
    opacity: 0;
    width: 0;
    transition: 500ms ease-in-out;
    overflow: hidden;
}
.header .ul{
    list-style: none;
    
}
.header .button{
    border: 0;
    background-color: transparent;
    display: none;

}
.header .svg{

}
.header li{
    margin:2cap 0;
    box-sizing: content-box;
    
}
.header .a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 2em;
}
/*animacion hover*/
.a::after{
    content: "";
    height: 4px;
    border-radius:1cap ;
    width: 0;
    background-color: var(--main-color);
    display: block;
    transition: all 300ms ;
}
.a:hover::after{
    width: 100%;
}
.trigger{
    background-color: transparent;
    position: fixed;
    z-index: 20;
    width: 40px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1cap;

    box-sizing: content-box;
}

.visible2{
    width: 260px;
    padding: 2cap;
    margin: 0 5px;
    opacity: 1;
    transition: 500ms ease-in-out;
}

/* *user*/
.header .user{
    background-color: var(--text-color);
    border: none;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    font-size: 35px;
    cursor: pointer;
    transition: all 180ms ease;
    
}

.userUl{
    margin-top: 10px;
    padding: 20px;
    list-style: none;
    background-color: transparent;
    position: absolute;
    z-index: -20;
    border-radius: 25px;
    height: 0;
    width: 50%;
    font-weight: 700;
    font-size: 1.2em;
    color: var(--other-color1);
    transition: all 300ms ease-in;
    overflow: hidden;

}
.user:hover{
    color: var(--main-color);
}
.userUl.desplegado{
    height: 220px;
    background-color: #fff;
    z-index: 20;
}

.userUl li button{
    background-color: transparent;
    color: var(--other-color1);
    border: none;
    font-weight: 700;
    font-size: 1em;
    transition: all .3s ease-in-out;
}
.userUl li button::after{
    content: "";
    height: 4px;
    border-radius:1cap ;
    width: 100%;
    background-color: var(--other-color1);
    display: block;
    transition: all .3s ease-in-out;
}
.userUl li button:hover::after{
   background-color: var(--main-color); 
}
.userUl li button:hover{
    color: var(--main-color);
}

/*flecha*/


.flecha{
width: 100%;

transition: all 250ms ease-in;
}
.flechaanimation{
    animation: movement 1100ms infinite alternate ease-in-out ;
}
.flechasvg{
    width: 100%;
    height: 100%;
    
}
.flechaD{
    animation: movement2 250ms forwards  ease-in-out ;
    transition: 250ms ease-in-out;
}
.efectoShadow{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: -1;
    transition: all 200ms ease-out;
}
.efectoShadow2{
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .3;
}
@keyframes movement{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(15px);
    }
}
@keyframes movement2{
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(-100px);
        opacity: 0;
    }
}
/*carrousel*/
.slider-box{
    
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}
.slider-box ul{
    list-style: none;
    
    display: flex;
    justify-content: none;
    padding: 0;
    margin: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out ;
}
.slider-box li{
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    
}
.texto{
    position: absolute;
    text-align: left;
    padding: 80px 0 0 250px;
    top: 250px;
    color: var(--text-color);

}
.texto h2{
    font-size: 45px;
    margin-bottom: 35px;
}
.slider-box img{
    position: absolute;
    top:0px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}
@keyframes slide{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}

}


/*slider*/
.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor{
    width: 85%;
    margin: auto;
}
/* ---- ----- ----- Contenedor titulo y controles ----- ----- ----- */
.contenedor-titulo-controles{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.contenedor-titulo-controles h3{
    color: #fff;
    font-size: 1.875em;
}
.contenedor-titulo-controles .indicadores button{
    background: #fff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

.contenedor-titulo-controles .indicadores1 button.activo,
.contenedor-titulo-controles .indicadores1 button:hover{
    background-color: var(--main-color);
}

.contenedor-titulo-controles .indicadores2 button.activo,
.contenedor-titulo-controles .indicadores2 button:hover{
    background-color: var(--main-color);
}
.contenedor-titulo-controles .indicadores3 button.activo,
.contenedor-titulo-controles .indicadores3 button:hover{
    background-color: var(--main-color);
}
.contenedor-titulo-controles .indicadores5 button.activo,
.contenedor-titulo-controles .indicadores5 button:hover{
    background-color: var(--main-color);
}
/* ---- ----- ----- Contenedor principal y flechas ----- ----- ----- */
.peliculas-recomendadas{
    margin: 70px 0;
 
}
.peliculas-recomendadas .contenedor-principal{
    display: flex;
    align-items: center;
    position: relative;
}
.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha{
    position: absolute;
    border:none;
    background-color: rgba(20, 20, 20,.5) ;
    font-size: 40px;
    height: 25%;
    top:calc(50% -25%);
    line-height: 40px;
    width: 50px;
    cursor: pointer;
    color: var(--main-color);
    z-index:10;
    transition: .2s ease all;
}
.peliculas-recomendadas .contenedor-principal .flecha-derecha{
    right: -38px;
    border-radius: 15% 50% 50% 15%;
}
.peliculas-recomendadas .contenedor-principal .flecha-izquierda{
    left: -38px;
    border-radius: 50% 10% 10% 50%;
}
.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover{
    background-color: rgb(27, 27, 27) ;
    color: var(--second-color);
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carrusel{
    width: 100%;
    padding: 25px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}
.peliculas-recomendadas .contenedor-carrusel .carrusel{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}
.peliculas-recomendadas .contenedor-carrusel .carrusel .pelicula-x{
    min-width: 18%;
    margin: 1%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0,.3);
} 
.peliculas-recomendadas .contenedor-carrusel .carrusel .peliculaAll.hover{
    transform: scale(1.2);
    transform-origin: center;
}
.peliculas-recomendadas .contenedor-carrusel .carrusel .pelicula-x img{
    width: 100%;
    vertical-align: top;
}

/* ---- ----- ----- Peliculas vertical ----- ----- ----- */


.peliculas-recomendadas .contenedor-principal .flecha-izquierda-y,
.peliculas-recomendadas .contenedor-principal .flecha-derecha-y{
    position: absolute;
    border:none;
    background-color: rgba(20, 20, 20,.5) ;
    font-size: 40px;
    height: 18%;
    top:calc(50% -25%);
    line-height: 40px;
    width: 50px;
    cursor: pointer;
    color: var(--main-color);
    z-index:10;
    transition: .2s ease all;
}
.peliculas-recomendadas .contenedor-principal .flecha-derecha-y{
    right: -38px;
    border-radius: 15% 50% 50% 15%;
}
.peliculas-recomendadas .contenedor-principal .flecha-izquierda-y{
    left: -38px;
    border-radius: 50% 10% 10% 50%;
}
.peliculas-recomendadas .contenedor-principal .flecha-izquierda-y:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha-y:hover{
    background-color: rgb(27, 27, 27) ;
    color: var(--second-color);
}



.peliculas-recomendadas .contenedor-carrusel .carrusel .pelicula-y{
    min-width: 18%;
    max-height: 80%;
    margin: 1%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0,.3);
    overflow: hidden;
} 
.peliculas-recomendadas .contenedor-carrusel .carrusel .espacio-blanco{
    min-width: 18%;
    max-height: 80%;
    margin: 1%;
    transition: .3s ease all;
    overflow: hidden;
} 
.peliculas-recomendadas .contenedor-carrusel .carrusel .pelicula-y img{
    vertical-align: top;
    width: 100%;
}



/* *?---- ----- ----- @media querys ----- ----- ----- */

@media screen and (max-width:920px){
    .peliculas-recomendadas .contenedor-carrusel{
        overflow: visible;
    }
    .peliculas-recomendadas .contenedor-carrusel .carrusel{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        
    }
    .peliculas-recomendadas .contenedor-carrusel .carrusel .peliculaAll{
        margin: 0;
    }
    .peliculas-recomendadas .contenedor-carrusel .carrusel .pelicula-y{
        min-width: 18%;
        min-height: 100%;
        margin: 1%;
        transition: .3s ease all;
        box-shadow: 5px 5px 10px rgba(0, 0, 0,.3);
        overflow: hidden;
    } 
    .peliculas-recomendadas .indicadores,
    .peliculas-recomendadas .contenedor-principal .flecha-izquierda,
    .peliculas-recomendadas .contenedor-principal .flecha-derecha{
        display: none;
    }
}