@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oxygen:wght@300;400;700&family=Ropa+Sans:ital@0;1&display=swap');

:root {
    --main-color: #9015EC;
    --second-color: #f23be8;
    --text-color: #e4e4e4;
    --second-text-color: none;
    --other-color1: #010614;
    --other-color2: #edd854;
    --other-color3: #c6f9fd;
    --nav-color: #aeaeae;
    --rojo: #E50914;
    --fondo: #141414;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    background-color: var(--other-color1);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: transparent;
}

.mainImg {
    width: 100%;
    height: 1000px;
    padding: 9% 5%;

}

.mainImg .infoSerie {
    color: #fff;
    position: relative;
    z-index: 1;
    
}

.mainImg h1 {
    font-size: 2.7em;
    font-weight: 300;
    margin-bottom: 30px;
}

.mainImg ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 28px;


}

.mainImg li i {
    font-size: 8px;
}

.mainImg li {
    margin-right: 10px;
    font-size: 16px;
}

.mainImg p {
    font-size: 1.25em;
    width: 800px;
    margin-bottom: 80px;
}

.mainImg a i {
    margin-right: 10px;
}

.mainImg a {
    padding: 14px 40px;
    border-radius: 5px;
    background-color: var(--main-color);
    color: var(--text-color);
}

.botones {
    margin-top: 140px;

}

.botones .botonE.activo {
    border: 3px solid #fff;
    background-color: #383b44;
    color: #fff;
}

.botones .botonE {
    background-color: transparent;
    border: 3px solid #383b44;
    font-size: 1.3em;
    color: #b3a49e;
    border-radius: 28px;
    padding: 14px 40px;
    margin-right: 20px;
    transition: .2s ease;
    cursor: pointer;

}

.botones .botonE:hover {
    background-color: #383b44;
    color: #fff;
}

/*  *     episodios   */


.episodios .card {
    --hover-bg: var(--fondo);
    --hover-text: var(--text-color);
    width: 304px;
    height: 198px;
    text-align: center;
    padding: 1.5em;
    padding-block: 1.8em;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: .3s cubic-bezier(.6, .4, 0, 1), transform .15s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 10px;
}


.recomendados .card {
    --hover-bg: var(--fondo);
    --hover-text: var(--text-color);
    width: 265px;
    height: 370px;
    text-align: center;
    
    background-size: cover;
    padding: 1.5em;
    padding-block: 1.8em;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: .3s cubic-bezier(.6, .4, 0, 1), transform .15s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 10px;
}

.episodios {
    display: none;
    width: 100%;
    position: relative;
    padding: 0 5%;
    top: -260px;
}

.episodios .contenedor-texto {
    display: flex;
    align-items: end;

}

.contenedor-texto span {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
}

.episodios h1 {
    color: var(--text-color);
    margin-bottom: 50px;
    margin-right: 20px;
}

.episodios ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 158px;
}

.episodios li {
    width: 100%;
    color: var(--text-color);

}

.episodios ul p {
    width: 304px;
    margin-block: 15px;
    font-size: 14px;
    font-weight: 300;

}

.card a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}


.card__body {
    color: #464853;
    line-height: 1.5em;
    font-size: 1em;
}

.card> :not(span) {
    transition: .3s cubic-bezier(.6, .4, 0, 1);
}

.card>strong {
    display: block;
    font-size: 1.4rem;
    letter-spacing: -.035em;
}

.card span i {
    margin-left: 10px;
}

.card span {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    color: var(--hover-text);
    border-radius: 5px;
    font-weight: bold;
    top: 100%;
    transition: all .3s cubic-bezier(.6, .4, 0, 1);
}

.card:hover span {
    top: 0;
    font-size: 1.2em;
}

.episodios .card.img:hover {
    background: var(--fondo);
}

.recomendados .card.img1:hover {
    background: var(--fondo);
}
.recomendados .card.img2:hover {
    background: var(--fondo);
}
.recomendados .card.img3:hover {
    background: var(--fondo);
}
.recomendados .card.img4:hover {
    background: var(--fondo);
}
.recomendados .card.img5:hover {
    background: var(--fondo);
}
.recomendados .card.img6:hover {
    background: var(--fondo);
}

.card:hover>div,
.card:hover>strong {
    opacity: 0;
}

.recomendados ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.recomendados li {
    width: 100%;
    color: var(--text-color);

}

.recomendados {
    display: none;
    width: 100%;
    position: relative;
    padding: 0 5%;
    top: -220px;
}

.visible3 {
    display: block;
}

.episodios li .reproducir {
    display: none;
}




@media screen and (max-width:1784px) {
    .episodios ul {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 20px;
        column-gap: 125px;
    }

    .recomendados ul {
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
    }

}

@media screen and (max-width:1685px) {
    .episodios ul {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 20px;
        column-gap: 90px;
    }

    .recomendados ul {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width:1565px) {
    .episodios ul {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 20px;
        column-gap: 50px;
    }
}

@media screen and (max-width:1434px) {
    .episodios ul {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
        column-gap: 13%;
    }
}

@media screen and (max-width:1282px) {
    
    .episodios ul {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 30%;
    }

    .recomendados ul {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width:925px) {

    .episodios ul {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 10%;
    }

    .recomendados ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    
    .mainImg h1 {
        margin-bottom: 10px;
    }
    
    .mainImg ul {
        margin-bottom: 15px;
    
    
    }
    
    .mainImg li i {
        font-size: 8px;
    }
    
    .mainImg li {
        margin-right: 10px;
        font-size: 16px;
    }
    
    .mainImg p {
        font-size: 1.25em;
        width: 643px;
        margin-bottom: 20px;
    }
    
    .mainImg a i {
        margin-right: 10px;
    }
    
    .mainImg a {
        padding: 14px 40px;
        border-radius: 5px;
        background-color: var(--main-color);
        color: var(--text-color);
    }
    .botones {
        margin-top: 30px;
    
    }
    .botones .botonE{
        padding: 8px 34px;
    }
}

@media screen and (max-width:726px) {
    .episodios .card {
        width: 184px;
        height: 104px;
    }

    .episodios ul {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;

    }

    .episodios li {
        display: flex;
        align-items: center;
    }

    .episodios .contenedor-texto {
        margin-left: 20px;
        padding-top: 15px;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
    }

    .contenedor-texto h2 {
        font-size: 16px;
    }

    .contenedor-texto span {
        margin-top: 10px;
        margin-left: 0;
        font-weight: 500;
        font-size: 14px;
    }

    .episodios p {
        display: none;
    }

    .episodios li .reproducir {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        color: white;
        font-size: 20px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--second-color);
        margin-left: 15%;
    }

    .recomendados .card {
        width: 160px;
        height: 265px;
    }

    /*     main img  */
    
    .mainImg ul {
        margin-bottom: 15px;
    
    
    }
    
    .mainImg li i {
        font-size: 6px;
    }
    
    .mainImg li {
        margin-right: 10px;
        font-size: 12px;
    }
    
    .mainImg p {
        font-size: 0.9em;
        width: 365px;
        margin-bottom: 40px;
    }
    .mainImg a {
        padding: 14px 34%;
        align-self: center;
    }
    .botones {
        margin-top: 30px;
    
    }
    .botones .botonE{
        margin-right: 2px;
        padding: 6px 18px;
    }
    .responsiveImg{
        height: 400px;
        width: 100%;
    }
    .episodios{
        top:-90px;
    }
    .recomendados{
        top:-90px;
    }
}

@media screen and(max-width:550px){
    .mainImg a {
        padding: 14px 25%;
    }
    
}
