@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oxygen:wght@300;400;700&family=Ropa+Sans:ital@0;1&display=swap');
:root{
  --main-color:#9015EC ;
  --second-color:#f23be8;
  --text-color:#e4e4e4;
  --second-text-color:none;
  --other-color1:#010614;
  --other-color2:#edd854;
  --other-color3:#c6f9fd;
  --nav-color:#aeaeae;
  --rojo: #E50914;
--fondo: #141414;
}
body{
    font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
    padding: 0;
    margin: 0;
}
body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: transparent;
  }
.mainImg{
    display: flex;
    background: linear-gradient(45deg, rgba(1,6,17,1) 15%, rgba(53,0,255,0.1390931372549019) 100%), url(assets/Sin\ título-1.png);  
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    padding: 0%;
    align-items: center;

}
.mainImg img{
  width: 250px; 
  margin-left: 10px;
}
.contentImg{
  margin: 8%;
  width: 100%;
}
h1{
  font-size: 3.4em;
  color: #fff;
  font-weight: 800;
  letter-spacing: 1px;
  margin-top: 1px;
}
table{
  width: 70%;
  max-width: 70%;
  box-sizing: border-box;
  
  border-collapse: collapse;
}
tr{
  width: 100%;
  border-bottom: 2.5px solid #32343e;
  height: 87px;
}
td{
  width: 28%;
  color: #fff;
}
.texto-centro{
  text-align: center;
}
.colorGris-fondo{
  background-color: #1d1f2b;
}

.text-content{
  width: 44%;
}
.botonPremium{
  text-decoration: none;
  width: 314.16px;
  color: white;
  font-weight: 300;
  font-size: 28px;
  padding: 18px 110px;
  border-radius: 15px;
  background: rgb(251,62,232);
  background: linear-gradient(45deg, rgba(251,62,232,1) 0%, rgba(141,20,236,1) 100%);
}
.plans{
    display: flex;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    background-color: #020517;
    margin-top: 0;
    padding: 5%;
    flex-direction: column;
    align-items: center;
}
.size-buttom{
  text-decoration: none;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 100px;
  font-weight: 500;
}



/**?---- ----- ----- foother ----- ----- -----*/

footer {
  height: 210.5px;
  background-color: #21242e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 30px 18%;
  text-align: center;
}
.contentText{
  width: 35%;
  text-align: left;
  font-weight: 100;
  font-size: 0.8em;
  color: #fff;
  line-height: 2.2cap;


}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
}
.social-icons a{
  box-sizing: border-box;
  padding: 4px 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 8px;
  background-color: #67696f;
  color: #181818;
  font-size: 23px;
  transition: all .35s ease;
}
.social-icons a:hover{
    color: var(--text-color);
}
.social-icons{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-right: 20px;
}
.footer-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-right: 20px;
  
}
.footer-links li{
  margin: 0 10px;
}
.footer-links li a{
  text-decoration: none;
  color: var(--text-color);
  

}

.pack-container{
  display: none;
}

/* ? -----------------media querys -------------------------*/


@media screen and (max-width:900px){
  /* ? Main img*/
  .contentImg{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
  .contentImg h1{
    font-size: 2.4em;
  }
  .contentImg img{
    width: 170px;
  }

  /* ? Tablas*/
  
  .size-buttom{
    text-decoration: none;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 12px 25px;
    font-weight: 500;
  }
 /* ? footer*/
  footer{
    height: 230.5px;
    padding: 30px 8%;
  }
  .footer-links li a{
    font-size: 14px;
  }
 
}
@media screen and (max-width:595px){
  .mainImg{
    background: linear-gradient(45deg, rgba(1,6,17,1) 15%, rgba(53,0,255,0.1390931372549019) 100%), url(assets/Sin\ título-2.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .botonPremium{
    padding: 18px 45px;
    width: 250px;
    font-size: 20px;
    
  }

/**------------- planes ---------------*/

  table{
    display: none;
  }
  .classic{
    color: var(--other-color3);
  }
  .classicBorder{
    border: 1px solid var(--other-color3);
  }
  .premium{
    color: var(--other-color2);
  }
  .premiumBorder{
    border: 1px solid var(--other-color2);
  }
  .pack-container {
    position: relative;
    display: flex;
    max-width: 350px;
    flex-direction: column;
    border-radius: 12px;
    background-color: #212121;
    padding: 1.6rem;
    color: #fff;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    margin: 20px 0;
  }
  
  .header {
    position: relative;
    margin: 0;
    margin-bottom: 2rem;
    overflow: hidden;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    padding-bottom: 1rem;
    text-align: center;
  }
  
  .title {
    display: block;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: #fff
  }
  
  .price-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    font-family: sans-serif;
    font-size: 4.5rem;
    line-height: 1;
  }
  
  .price-container span:first-child {
    margin-top: 10px;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  
  .price-container span:last-child {
    align-self: flex-end;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  
  .lists {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .list {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .list span {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.24);
    background-color: rgba(255, 255, 255, 0.185);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .list span svg {
    height: 12px;
    width: 12px;
  }
  
  .list p {
    width: 70%;
    display: block;
  }
  
  .button-container {
    margin-top: 20px;
    padding: 0;
  }
  
  .button-container a {
    display: block;
    padding: 10px 18px;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    border-radius: 10px;
    text-decoration: none;
    
    color: #000;
    text-align: center;
  }






  /* ? footer*/
  footer{
    height: 230.5px;
    padding: 30px 3%;
    flex-direction: row;
  }
  .contentText{
    width: 80%;
    font-size: 0.75em;
  }
  .footer-links{
    flex-direction: column;
    text-align: left;
  }
  .footer-links li {
    margin: 10px 0;
  }
  .footer-links li a{
    font-size: 12.5px;
    
  }
  .footer-content{
    flex-direction: column;
    padding-left: 10px;
  }
  .social-icons{
    margin: 0;
  }
  .social-icons a{
    margin: 0 10px 0 0;
    width: 32px;
    height: 32px;
    font-size: 20px;
  }
}